* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.jpg);
}

header h1 {
    font-size: 50px;
    text-align: center;
}

header h2 {
    box-sizing: border-box;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 190px;
    margin: 100px auto;
}

main h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.colors {
    display: inline-block;
    width: 360px;
    margin-top: 50px;
    height: 150px;
    text-align: center;
    line-height: 35px;
    position: relative;
}


.colors-main {
    box-sizing: border-box;
    border: 2px solid black;
    width: 80%;
    margin: 50px auto;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

.fonts-main {
    box-sizing: border-box;
    border: 2px solid black;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}

.text-styles-main {
    box-sizing: border-box;
    border: 2px solid black;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}

.open-sans-container {
    display: inline-block;
    margin-top: 40px;
    text-align: justify;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 60px;
}

.roboto-container {
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    text-align: justify;
}

.roboto {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 60px;
}

.ibm-container {
    display: inline-block;
    margin-top: 40px;
    text-align: justify;
}

.ibm {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 20px;
    line-height: 60px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.font-name {
    font-size: 45px;
}

#aqua {
    background-color: hsla(189, 89%, 51%, 1);
    
}

#violet {
    background-color: hsla(286, 99%, 29%, 1);
    
}

#lime-green {
    background-color: hsla(96, 56%, 54%, 1);
    
}

#charcoal {
    background-color: hsla(0, 0%, 50%, 1);
    
}

.h1-heading, .h2-heading, .p-heading {
    font-size: 20px;
    font-weight: bold;
}

.text-styles-main {
    padding-bottom: 40px;
}

.h1-container, .h2-container, .p-container {
    line-height: 30px;
    height: 250px;
    display: inline-block;
    text-align: justify;
    box-sizing: border-box;
    margin-top: 70px;
    
}

.h2-container {
    margin-left: 100px;
    margin-right: 100px;
}


